<div class="w-full   rounded-xl h-full bg-white ">
<div class="w-full px-2 py-2 bg-dtback flex justify-between">
<div class="text-white text-md md:text-2xl font-bold">Kinaxis Vs SAP <i (click)="openhelp()" class="bi bi-info-circle-fill hover:text-softblack cursor-pointer"></i></div>
<div class=" text-md md:text-2xl font-bold flex justify-between items-center">
    <div class="px-2">
      <select  class="text-gray-700 rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-start"
      [(ngModel)]="plant" (change)="getgaplog()"  >
     
    <ng-container *ngIf="plantlist.length>0" >
        <option *ngFor="let item of plantlist" value="{{item.plant}}" selected>{{item.plant}}</option> 
      </ng-container> 
  </select>
    </div>
    <button
        data-bs-toggle="modal" data-bs-target="#uploadgapcycleModal"  class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-1   px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Upload 
        </button>
</div>
</div>
<div class="w-full px-2 py-2  flex justify-between">
    <div class="py-2 ">
        Show&nbsp;
        <select   class=" rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-center"
            aria-label="Default select example">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select>
        &nbsp;
        Material
    </div>
</div>
<div class="overflow-x-auto border-collapse relative px-3 py-3">
    <table class="w-full text-xs text-left text-gray-500 dark:text-gray-400"> 
        <thead
            class="text-xs text-center whitespace-nowrap text-white upppercase bg-sky-500 dark:bg-dt dark:text-gray-400">
            <tr class="whitespace-nowrap">
              <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
               No.
            </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                    Plant
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                       Months 
                </th>
                <th  scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                       Kinaxis Data 
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                     SAP DATA 
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                   Entry By
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  "> 
                Modify By 
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  ">
                  Entry Date
                </th>
                <th scope="col" class="py-3 px-2 md:px-2 border border-slate-300  ">
                  Modify Date
                </th>
             

            </tr>
        </thead>
        <tbody class="text-center " >
       <tr *ngFor="let item of datain;let i = index;">
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
        {{i+1}}
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
        {{item.plant}}
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
       {{item.dtdataseq}}
          </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          <a href="../vfadmin/RPA/Master/kinaxis/{{item.kinaxisfilenm}}" > {{item.kinaxisfilenm}}</a>
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          <a href="../vfadmin/RPA/Master/zmd04e/{{item.sapfilenm}}" > {{item.sapfilenm}}</a>
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          {{item.idusin}}
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          {{item.idusup}}
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          {{item.ymd8in | date : "yyyy-MM-dd"}}
        </td>
        <td class="py-3 px-2 md:px-2 border border-slate-300  ">
          {{item.ymd8up | date : "yyyy-MM-dd"}}
        </td>
        
        </tr>
        </tbody>
        
    </table>
</div>
<div class="flex justify-end w-full py-3">
  <nav *ngIf="totalpage>1" aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px">
          <li *ngIf="pagination.p > 6" (click)="pagination.onClickPage(1,'LX17req')"><a
                  class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  href="javascript:void(0);">
                  First Page</a></li>
          <li (click)="pagination.onClickPage(pagination.p - 1,'LX17req')"><a
                  class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  href="javascript:void(0);">«
                  Previous</a></li>
          <ng-container *ngFor="let item of createRange(totalpage);let i = index;">
              <li *ngIf="i< pagination.p +3 && i> pagination.p -6" (click)="pagination.onClickPage(i+1,'LX17req')"><a
                      [ngClass]="{'active': pagination.p === i+1}"
                      class="page-link py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                      href="javascript:void(0);">{{i+1}}</a></li>
          </ng-container>
          <li (click)="pagination.onClickPage(pagination.p + 1,'LX17req')"><a
                  class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  href="javascript:void(0);">Next
                  »</a></li>
          <li *ngIf="pagination.p < (totalpage -3) " (click)="pagination.onClickPage(totalpage,'LX17req')"><a
                  class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  href="javascript:void(0);">
                  Last Page</a></li>
      </ul>
  </nav>
</div>
</div>

    <!-- Modal -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="uploadgapcycleModal" tabindex="-1" aria-labelledby="uploadgapcycleModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
      <div
        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto   rounded-md outline-none text-current bg-white">
      
        <div
          class="modal-header bg-dtback flex  flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="text-xs md:text-xl font-medium leading-normal text-white" id="uploagapcycleModalLabel">
           Upload Master for Vendor Forecast Validation</h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          
          <div class="w-full  h-full ">
    
              
                <div class="mb-2 w-full">
                    <label class="block text-dark text-sm font-bold mb-1" for="username">
                     Plant
                    </label>
                    <select  class="text-gray-700 rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-start"
            [(ngModel)]="plant"  >
 
            <ng-container *ngIf="plantlist.length>0" >
                <option *ngFor="let item of plantlist" value="{{item.plant}}" selected>{{item.plant}}</option> 
              </ng-container> 
        </select>
                  </div>
                <div class="mb-2 w-full">
                    <label class="block text-dark text-sm font-bold mb-1" for="username">
                      Data Cycle
                    </label>
                    <input [(ngModel)]="month"
                      class="shadow appearance-none border border-red-500 rounded w-full py-1 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       type="month" placeholder="Month-Year">
                  </div>
                  <label class="block text-dark text-sm font-bold mb-1" for="username">
                    Upload <b>Kinaxis File </b> 
                  </label>
                  <div class="fs-6 fw-bold text-black pb-3"><i class="bi bi-file-earmark-plus me-1"></i>Please upload file with
                    type ".xls" and ".xlsx"</div>
                  <input type="file" (change)="onFileChange1($event)" class="form-control-file" id="inputFile"
                    accept=".xls, .xlsx" #inputFile  > 
                      <label class="block text-dark text-sm font-bold my-2" for="username">
                        Upload <b>SAP File </b> 
                      </label>
                      <div class="fs-6 fw-bold text-black pb-3"><i class="bi bi-file-earmark-plus me-1"></i>Please upload file with
                        type ".xls" and ".xlsx"</div>
                      <input type="file" (change)="onFileChange2($event)" class="form-control-file" id="inputFile"
                        accept=".xls, .xlsx" #inputFile  >
               
          </div>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button" class="px-6
            py-2.5
            bg-orange-500
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-orange-700 hover:shadow-lg
            focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-orange-800 active:shadow-lg
            transition
            duration-150
            
            ease-in-out" data-bs-dismiss="modal">Close</button>
          <button (click)="execute()" type="button" class="px-6
        py-2.5
        bg-dtback
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-dt hover:shadow-lg
        focus:bg-dt focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-dt active:shadow-lg
        transition
        duration-150
        ease-in-out
        disabled:opacity-75
        ml-1" [disabled]="file.length<2">Upload</button>
        </div>
      </div>
    </div>
    </div>


    <!-- Modal Help Start-->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg relative w-auto pointer-events-none">
      <div
        class="modal-content  border-none shadow-lg relative flex flex-col w-full pointer-events-auto   rounded-md outline-none text-current bg-white">
      
        <div
          class="modal-header bg-dtback flex  flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="text-xs md:text-xl font-medium leading-normal text-white" id="uploagapcycleModalLabel">
          How to upload files</h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative py-2 px-4">
          
          <div class="w-full  h-auto overflow-y">
            
            <div class="mb-3">
            <b> There are several steps need to be consider before you upload the files from the admin panel.
            </b> 
          </div>
            <ul>
              <li class="w-90 mb-2">1. Make sure the sheet name for Kinaxis file is <b>Export to SSPExcluding No Suppl</b></li>
              <div class="w-90 mb-2">
                <img src="assets/faqgap/1.JPG" class="w-100">
              </div>
             
              <li class="w-90 mb-2">2. The header template should be like image below or you can download template <a href="assets/template/Kinaxis_Template.xlsx" class="text-sky-500 hover:text-sky-400 ">here!</a></li>
              <div class="w-90 mb-2">
                <img src="assets/faqgap/2-1.JPG" class="w-100">
                <img src="assets/faqgap/2-2.JPG" class="w-100">
                <img src="assets/faqgap/2-3.JPG" class="w-100">
                <img src="assets/faqgap/2-4.JPG" class="w-100">
                <img src="assets/faqgap/2-5.JPG" class="w-60">

              </div>
              <li class="w-90 mb-2">3. Sheet name of SAP file should be <b>Sheet1</b></li>
              <div class="w-90 mb-2">
                <img src="assets/faqgap/3.JPG" class="w-100">
              </div>
              <li class="w-90 mb-2">4. The header files should be like image below or you can download template <a href="assets/template/ZMD04E _Template.xlsx" class="text-sky-500 hover:text-sky-400 ">here!</a>  </li>
              <div class="w-90 mb-2">
                <img src="assets/faqgap/4.JPG" class="w-100">
              </div>
              <li class="w-90 mb-2">5. Please ensure <b>The Cycle Data</b> between kinaxis and SAP are <b>same Cycle</b> </li>
              <li class="w-90 mb-2">6. Please see image below for upload step ! </li>
              <div class="w-90 mb-2">
                <img src="assets/faqgap/5.JPG" class="w-100">
              </div>
              <li class="w-90 mb-2">7. If you need to update or replcae the data. Please upload the data with same cycle date ! </li>
              <li class="w-90 mb-2"><b>Becarefull !, any update or replace on the data will delete old data on the same cycle!</b></li>
         
            </ul>
           
               
          </div>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-center p-4 border-t border-gray-200 rounded-b-md">
          <button type="button" class="px-6
            py-2.5
            bg-orange-500
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-orange-700 hover:shadow-lg
            focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-orange-800 active:shadow-lg
            transition
            duration-150
            
            ease-in-out" data-bs-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
    </div>
    <!-- Modal Help End -->