<div class="w-full   rounded-xl h-full bg-white ">
  <div class="w-full px-2 py-2 bg-dtback flex justify-between items-center">
    <div class="text-white text-md md:text-2xl font-bold">Training Document </div>
    <div class=" text-md md:text-2xl font-bold flex justify-end items-center">
      <div class="mr-2">
        <select class="text-gray-700 rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-start" [(ngModel)]="plant"
          (change)="pagination.changepagenum.next(true)">
          <ng-container *ngIf="plantlist.length>0">
            <option *ngFor="let item of plantlist" value="{{item.plant}}" selected>{{item.plant}}</option>
          </ng-container>
        </select>
      </div>
      <div class="mr-2">
        <select class="text-gray-700 rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-start" [(ngModel)]="cat"
          (change)="pagination.changepagenum.next(true)">
          <option value="" selected>ALL</option>
          <option value="Tool" selected>Tool</option>
          <option value="Process">Process</option>
          <option value="People/SoftSkill">People/Softskill</option>
          <option value="KPIs">KPIs</option>
        </select>
      </div>
      <div class="mr-2">
        <input type="text" class="rounded w-full   border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 "
          [(ngModel)]="subject" placeholder="Please fill the subject" />
      </div>
      <div>
        <button (click)="adddata('Insert','')"
          class="bg-sky-500 hover:bg-sky-400 text-white font-bold py-1   px-4 rounded focus:outline-none focus:shadow-outline"
          type="button">
          <i class="bi bi-plus-circle"></i> Add
        </button>
      </div>
    </div>

  </div>
  <div class="w-full px-2 py-2  flex justify-between">
    <div class="py-2 ">
      Show&nbsp;
      <select class=" rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-center"
        aria-label="Default select example">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
      &nbsp;
      Plant
    </div>
  </div>
  <div class="overflow-x-auto border-collapse relative px-3 py-3 px-2 md:px-2">
    <table class="w-full text-xs text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-center whitespace-nowrap text-white upppercase bg-sky-500 dark:bg-dt dark:text-gray-400">
        <tr class="whitespace-nowrap">
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            No.
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Plant
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Category
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Subject
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Description
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Link/Source
          </th>
          <!-- <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Trainer
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Training Time
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Expectation Level
          </th> -->
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Document Training
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Modify By
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Entry Date
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Modify Date
          </th>
          <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
            Action
          </th>


        </tr>
      </thead>
      <tbody *ngIf="datain.length > 0 " class="text-center ">
        <tr class="align-middle" *ngFor="let item of datain;let i = index">
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{i+1}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.plant}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.cat}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.subjects}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.descs}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.link}}</td>
          <!-- <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.trainer}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.training_time}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.ex_level}}</td> -->
          <td class="py-3 px-1 md:px-1 border border-slate-300 whitespace-nowrap">
            <button (click)="download(item.Id)"
              class="bg-violet-500 hover:bg-violet-400 text-white py-1 px-1 text-md rounded "><i
                class="bi bi-download me-1 fs-8"></i>Download All</button>
            <button (click)="openattch(item.Id,item.subjects)"
              class="bg-sky-500 hover:bg-sky-400 mx-2 text-white py-1 px-1 text-md rounded">
              <i class=" fs-8 bi bi-search me-1"></i>View Attch</button>
          </td>

          <!-- <td class="py-3 px-2 md:px-2  border border-slate-300  "><a href="../vfadmin/RPA/Master/training/{{item.doc}}" >{{item.doc}}</a></td>  -->
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Idusup}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Ymd8up| date:'yyyy-MM-dd'}}</td>
          <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Ymd8in| date:'yyyy-MM-dd'}}</td>
          <td class="py-3 px-1 md:px-1 border border-slate-300  whitespace-nowrap">
            <button (click)="deldata(item.Id)"
              class="bg-red-500 hover:bg-red-400 text-white py-1 px-1 text-md rounded "><i
                class="bi bi-trash me-1 fs-8"></i>Delete</button>
            <button (click)="adddata('Edit',item)"
              class="bg-green-500 hover:bg-green-400 mx-2 text-white py-1 px-1 text-md rounded"><i
                class=" fs-8 bi bi-pencil-square me-1"></i>Edit</button>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
  <div class="flex justify-end w-full py-3">
    <nav *ngIf="totalpage>1" aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px">
        <li *ngIf="pagination.p > 6" (click)="pagination.onClickPage(1,'LX17req')"><a
            class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            href="javascript:void(0);">
            First Page</a></li>
        <li (click)="pagination.onClickPage(pagination.p - 1,'LX17req')"><a
            class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            href="javascript:void(0);">«
            Previous</a></li>
        <ng-container *ngFor="let item of createRange(totalpage);let i = index;">
          <li *ngIf="i< pagination.p +3 && i> pagination.p -6" (click)="pagination.onClickPage(i+1,'LX17req')"><a
              [ngClass]="{'active': pagination.p === i+1}"
              class="page-link py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              href="javascript:void(0);">{{i+1}}</a></li>
        </ng-container>
        <li (click)="pagination.onClickPage(pagination.p + 1,'LX17req')"><a
            class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            href="javascript:void(0);">Next
            »</a></li>
        <li *ngIf="pagination.p < (totalpage -3) " (click)="pagination.onClickPage(totalpage,'LX17req')"><a
            class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            href="javascript:void(0);">
            Last Page</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="addplantModal" tabindex="-1" aria-labelledby="addplantModalLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto   rounded-md outline-none text-current bg-white">
      <div
        class="modal-header bg-dtback flex  flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xs md:text-xl font-medium leading-normal text-white" id="addplantModalLabel">
          Add New Training Doc</h5>
          
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4">
        <div class="w-full  h-full ">
          <div class="flex justify-between">
            <div class="mb-2 w-fit">
              <label class="block text-dark text-md font-bold mb-1" for="username">
                Plant <span class="px-2 text-red">*</span>
              </label>
              <select class="text-gray-700 rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-start"
                [(ngModel)]="newdata[0].plant" (change)="pagination.changepagenum.next(true)">
                
                <ng-container *ngIf="plantlist.length>0">
                  <option *ngFor="let item of plantlist" value="{{item.plant}}" selected>{{item.plant}}</option>
                </ng-container>
              </select>
            </div>
            <div class="mb-2 w-fit mx-2">
              <label class="block text-dark text-md font-bold mb-1" for="username">
                Category <span class="px-2 text-red">*</span>
              </label>
              <select [(ngModel)]="newdata[0].cat"
                class=" rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-left"
                aria-label="Default select example">
                <option value="Tool" selected>Tool</option>
                <option value="Process">Process</option>
                <option value="People/SoftSkill">People/Softskill</option>
                <option value="KPIs">KPIs</option>
              </select>

            </div>
            <!-- <div class="mb-2 w-fit">
              <label class="block text-dark text-md font-bold mb-1" for="username">
                Expection Level <span class="px-2 text-red">*</span>
              </label>
              <select [(ngModel)]="newdata[0].ex_level"
                class=" rounded border-2 bg-gray-50 dark:bg-gray-700 inline text-left"
                aria-label="Default select example">
                <option value="Basic" selected>Basic</option>
                <option value="Advance">Advance</option>
                <option value="Expert">Expert</option>
                <option value="Acknowledge">Acknowledge</option>
              </select>

            </div> -->
          </div>
          <div class="mb-2 w-full align-middle">
            <label class="block text-dark text-md font-bold mb-1" for="username">
              Subject <span class="px-2 text-red">*</span>
            </label>
            <input type="text" class="rounded w-full py-2 border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 text-md"
              [(ngModel)]="newdata[0].subjects" placeholder="Subject Name" />
          </div>
          <div class="mb-2 w-full">
            <label class="block text-dark text-md font-bold mb-1" for="username">
              Description
            </label>
            <input type="text" class="rounded w-full py-2 border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 text-md"
              [(ngModel)]="newdata[0].descs" placeholder="Description" />
          </div>
          <div class="mb-2 w-full">
            <label class="block text-dark text-md font-bold mb-1" for="username">
              Link <span class="px-2 text-red">*</span>
            </label>
            <input type="text" class="rounded w-full py-2 border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 text-md"
              [(ngModel)]="newdata[0].link" placeholder="Link/Source name" />
          </div>
          <!-- <div class="mb-2 w-full">
            <label class="block text-dark text-md font-bold mb-1" for="username">
              Trainer <span class="px-2 text-red">*</span>
            </label>
            <input type="text" class="rounded w-full py-2 border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 text-md"
              [(ngModel)]="newdata[0].trainer" placeholder="Trainer" />
          </div>
          <div class="mb-2 w-full">
            <label class="block text-dark text-md font-bold mb-1" for="username">
              Training Time <span class="px-2 text-red">*</span>
            </label>
            <input type="text" class="rounded w-full py-2 border-2 bg-gray-50 dark:bg-gray-700 inline  px-2 text-md"
              [(ngModel)]="newdata[0].training_time" placeholder="Trainig Time" />
          </div> -->
          <ng-container *ngIf="type=='Insert'">
            <label class="block text-dark text-sm font-bold mb-1" for="username">
              Upload File
            </label>
            <div class="fs-6 fw-bold text-black pb-3"><i class="bi bi-file-earmark-plus me-1"></i>Please upload file
              with
              type ".xls",".xlsx",".doc",".docx",".ppt",".pptx"</div>
            <input type="file" (change)="onFileChange($event)" class="form-control-file" id="inputFile" multiple
              accept=".xls, .xlsx,.pdf,.doc,.docx,.ppt,.pptx">
          </ng-container>
        </div>
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button" class="px-6
        py-2.5
        bg-orange-500
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-orange-700 hover:shadow-lg
        focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-orange-800 active:shadow-lg
        transition
        duration-150
        
        ease-in-out" data-bs-dismiss="modal">Close</button>
        <button (click)="executedata(type)" type="button" class="px-6
    py-2.5
    bg-dtback
    text-white
    font-medium
    text-xs
    leading-tight
    uppercase
    rounded
    shadow-md
    hover:bg-dt hover:shadow-lg
    focus:bg-dt focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-dt active:shadow-lg
    transition
    duration-150
    ease-in-out
    disabled:opacity-25
    ml-1" [disabled]="newdata[0].cat=='' || newdata[0].subjects=='' || newdata[0].descs==''">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="attchModal" tabindex="-1" aria-labelledby="attchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl relative   pointer-events-none  w-full   ">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto   rounded-md outline-none text-current bg-white">
      <div
        class="modal-header bg-dt flex  flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-white" id="attchModalLabel">
          {{subjectmodal}}</h5>
          <div>
            <input type="file" (change)="onFileChange($event)" class="w-fit" id="inputFile" multiple
            accept=".xls, .xlsx,.pdf,.doc,.docx,.ppt,.pptx">
            <button (click)="insertnewfilest()" type="button"
            class="bg-violet-400 hover:bg-violet-500 px-2 py-1 rounded text-white"
            data-bs-dismiss="modal" aria-label="Close">Sumbit New Files</button>
            <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
  
      </div>
      <div class="modal-body relative p-4">
        <table class="w-full text-xs text-left text-gray-500 dark:text-gray-400">
          <thead
            class="text-xs text-center whitespace-nowrap text-white upppercase bg-sky-500 dark:bg-dt dark:text-gray-400">
            <tr class="whitespace-nowrap">
              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                No.
              </th>

              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                File Name
              </th>
              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                Modify By
              </th>
              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                Entry Date
              </th>
              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                Modify Date
              </th>
              <th scope="col" class="py-3 px-2 md:px-2  border border-slate-300  ">
                Action
              </th>


            </tr>
          </thead>
          <tbody *ngIf="datain.length > 0 " class="text-center ">
            <tr class="align-middle" *ngFor="let item of attchdata;let i = index">
              <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{i+1}}</td>
              <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.filename}}</td>
              <!-- <td class="py-3 px-2 md:px-2  border border-slate-300  "><a href="../vfadmin/RPA/Master/training/{{item.doc}}" >{{item.doc}}</a></td>  -->
              <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Idusup}}</td>
              <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Ymd8up| date:'yyyy-MM-dd'}}</td>
              <td class="py-3 px-2 md:px-2  border border-slate-300  ">{{item.Ymd8in| date:'yyyy-MM-dd'}}</td>
              <td class="py-3 px-1 md:px-1  border border-slate-300 whitespace-nowrap flex justify-start">
                <a href="../vfadmin/RPA/Master/training/{{item.filename}}"
                  class="bg-violet-500 hover:bg-violet-400 text-white py-1 px-1 text-md rounded "><i
                    class="bi bi-download me-1 fs-8"></i>Download</a>
                <button *ngIf="gettype(item.filename).toLowerCase()=='pdf'" (click)="view(item.filename)"
                  class="bg-sky-500 hover:bg-sky-400 mx-2 text-white py-1 px-1 text-md rounded">
                  <i class=" fs-8 bi bi-search me-1"></i>View</button>
                  <button   (click)="DeleteFiles(item.id)"
                  class="bg-red-500 hover:bg-red-400 mx-2 text-white py-1 px-1 text-md rounded">
                  <i class=" fs-8 bi bi-search me-1"></i>Delete Data</button>
              </td>
            </tr>

          </tbody>

        </table>
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button" class="px-6
          py-2.5
          bg-orange-500
          text-white
          font-medium
          2xl:text-xs sm:text-[10px]
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-orange-700 hover:shadow-lg
          focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-orange-800 active:shadow-lg
          transition
          duration-150
          ease-in-out" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="ViewModal" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl  relative w-auto pointer-events-none">
      <div
        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto   rounded-md outline-none text-current bg-white">
        <div
          class="modal-header bg-dt flex  flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="text-xl font-medium leading-normal text-white" id="ViewModalLabel">
            View file</h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          <div *ngIf="type.toLowerCase()=='pdf'" id="outerContainer">
            <div class="pdf-container">
              <pdf-viewer [src]="src" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
                [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                style="width: 100%; height: 600px;"></pdf-viewer>
            </div>
          </div>

        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button" class="px-6
      py-2.5
      bg-orange-500
      text-white
      font-medium
      2xl:text-xs sm:text-[9px]
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-orange-700 hover:shadow-lg
      focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-orange-800 active:shadow-lg
      transition
      duration-150
      ease-in-out" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  