@tailwind base;
@tailwind components;
@tailwind utilities; 

.img-circle-header {
    width: 40px;
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}   
.menu-desc-none,
.brand-none,.img-circle-header-none,.nav-pills-none{
    display: none!important;
}
.sidebar-active{
    background-color: #0284c7!important; 
}

.bg-login {
    background-image:url(assets/img/bg/bglogin.jpg);background-size: cover;
background-repeat: no-repeat;
} 
.page-link.active{
    background-color: #d1d5db;
}